.task-show
  .row.row-centered
    .col-xs-12.col-sm-10.col-md-8.col-lg-6.col-centered
      .text-center
        =image_tag @task.avatar.url(:medium)
        %h1
          = @task.name
        %h2 
          %b Points
          = @task.points
        %p{style: "font-size:22px;color:#826176;padding: 0 0 10px 0;"}
          %i= @task.description
        -unless @task.requirements.blank?
          %p
            %b{style:"border-top:1px lightgrey solid;padding: 10px 0 0 0;"} Challenge Completion Proof
            %br
            = @task.requirements
          %br  
        =render "completed_task_button"  
  .row.row-centered
    .col-xs-12.col-sm-10.col-md-8.col-lg-6.col-centered
      #task-documentation{style:"border-top:1px lightgrey solid;border-bottom:1px lightgrey solid;margin:40px 0;padding: 20px 0 30px 0;"}
        .text-center
          %h3
            Document Your Awesome
          %h4 Add Photos and Notes On Your Awesomeness
        =render "documentation_form"

        -if current_user.admin == true
          .hide
            %p
              %strong Requirements:
              = @task.requirements
            %p
              %strong Level:
              = @task.level
            = link_to 'Edit', edit_task_path(@task)
            |
            #{link_to 'Back', current_user}
  -unless @task_documentations.nil?
    %h2.text-center{style: "margin:0 0 40px 0;"} Awesome Memories
    .row.row-centered
      -@task_documentations.each do |td|
        .col-xs-12.col-sm-6.col-md-4
          %p= image_tag td.image.url(:medium)
          %p.text-center= td.description